In [92]:
# Read data from file

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df=pd.read_csv(r'C:\Users\ssc\Desktop\BlueCognito\blucognitiondatascientistshortlistedfortechnicalro\Data-Sample\train.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [93]:
df.Dependents.unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [94]:
df.Loan_Amount_Term.nunique()

10

In [95]:
df=df.drop(['Loan_ID'],axis=1)

In [96]:
df.shape

(614, 12)

In [97]:
# you can determine the total number of missing values using
# the isnull method plus the sum method on the dataframe

df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [98]:
df.dropna(inplace=True)
df.shape

(480, 12)

In [99]:
df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [100]:
df.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [101]:
model_df = pd.concat([df[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History']],pd.get_dummies(df.Gender, drop_first=True),pd.get_dummies(df.Dependents, drop_first=True),pd.get_dummies(df.Married, drop_first=True),pd.get_dummies(df.Education, drop_first=True),pd.get_dummies(df.Self_Employed, drop_first=True),pd.get_dummies(df.Property_Area, drop_first=True),pd.get_dummies(df.Loan_Status, drop_first=True)],axis=1)

In [102]:
model_df.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Male,1,2,3+,Yes,Not Graduate,Yes,Semiurban,Urban,Y
1,4583,1508.0,128.0,360.0,1.0,1,1,0,0,1,0,0,0,0,0
2,3000,0.0,66.0,360.0,1.0,1,0,0,0,1,0,1,0,1,1
3,2583,2358.0,120.0,360.0,1.0,1,0,0,0,1,1,0,0,1,1
4,6000,0.0,141.0,360.0,1.0,1,0,0,0,0,0,0,0,1,1
5,5417,4196.0,267.0,360.0,1.0,1,0,1,0,1,0,1,0,1,1

In [103]:
model_df.shape

(480, 15)

In [104]:
model_df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Male,1,2,3+,Yes,Not Graduate,Yes,Semiurban,Urban,Y
count,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000
mean,5364.231250,1581.093583,144.735417,342.050000,0.854167,0.820833,0.166667,0.177083,0.085417,0.647917,0.202083,0.137500,0.397917,0.312500,0.691667
std,5668.251251,2617.692267,80.508164,65.212401,0.353307,0.383892,0.373067,0.382137,0.279792,0.478118,0.401973,0.344734,0.489979,0.463996,0.462287
min,150.000000,0.000000,9.000000,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2898.750000,0.000000,100.000000,360.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3859.000000,1084.500000,128.000000,360.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,5852.500000,2253.250000,170.000000,360.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,81000.000000,33837.000000,600.000000,480.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [105]:
model_df.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Male', '1', '2', '3+', 'Yes',
       'Not Graduate', 'Yes', 'Semiurban', 'Urban', 'Y'],
      dtype='object')

In [106]:
all_features = model_df[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Male', '1', '2','3+', 'Yes', 'Not Graduate', 'Yes', 'Semiurban', 'Urban']].values


all_classes = model_df['Y'].values

feature_names = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term', 'Credit_History', 'Male', '1', '2','3+', 'Yes', 'Not Graduate', 'Yes', 'Semiurban', 'Urban']

all_features

array([[4.583e+03, 1.508e+03, 1.280e+02, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [3.000e+03, 0.000e+00, 6.600e+01, ..., 1.000e+00, 0.000e+00,
        1.000e+00],
       [2.583e+03, 2.358e+03, 1.200e+02, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       ...,
       [8.072e+03, 2.400e+02, 2.530e+02, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [7.583e+03, 0.000e+00, 1.870e+02, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [4.583e+03, 0.000e+00, 1.330e+02, ..., 1.000e+00, 1.000e+00,
        0.000e+00]])

In [107]:
from sklearn import preprocessing

scaler = preprocessing.StandardScaler()
all_features_scaled = scaler.fit_transform(all_features)
all_features_scaled

array([[-0.13796959, -0.02795204, -0.20808917, ..., -0.3992747 ,
        -0.81295735, -0.67419986],
       [-0.4175358 , -0.604633  , -0.97900085, ...,  2.50454133,
        -0.81295735,  1.4832397 ],
       [-0.49118022,  0.29710022, -0.30756164, ..., -0.3992747 ,
        -0.81295735,  1.4832397 ],
       ...,
       [ 0.47820635, -0.51285354,  1.34616826, ..., -0.3992747 ,
        -0.81295735,  1.4832397 ],
       [ 0.39184635, -0.604633  ,  0.52552034, ..., -0.3992747 ,
        -0.81295735,  1.4832397 ],
       [-0.13796959, -0.604633  , -0.14591887, ...,  2.50454133,
         1.23007683, -0.67419986]])

In [108]:
import numpy
from sklearn.model_selection import train_test_split

numpy.random.seed(1234)

(training_inputs,
 testing_inputs,
 training_classes,
 testing_classes) = train_test_split(all_features_scaled, all_classes, train_size=0.75, random_state=1)

In [109]:
from sklearn.tree import DecisionTreeClassifier

clf= DecisionTreeClassifier(random_state=1)

# Train the classifier on the training set
clf.fit(training_inputs, training_classes)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1, splitter='best')

In [110]:
 clf.score(testing_inputs, testing_classes)

0.675

In [111]:
from sklearn.model_selection import cross_val_score

clf = DecisionTreeClassifier(random_state=1)

cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)

cv_scores.mean()

0.7166639528151686

In [112]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=10, random_state=1)
cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)

cv_scores.mean()

0.7601127152988856

In [113]:
from sklearn import svm

C = 1.0
svc = svm.SVC(kernel='linear', C=C)

In [114]:
cv_scores = cross_val_score(svc, all_features_scaled, all_classes, cv=10)

cv_scores.mean()

0.808431936604429

In [115]:
from sklearn import neighbors

clf = neighbors.KNeighborsClassifier(n_neighbors=10)
cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)

cv_scores.mean()

0.7750949848024316

In [116]:
for n in range(1, 50):
    clf = neighbors.KNeighborsClassifier(n_neighbors=n)
    cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)
    print (n, cv_scores.mean())

1 0.6772452598060501
2 0.6394349761181068
3 0.7394105514546243
4 0.7209174627297728
5 0.758252822405558
6 0.7582953394123606
7 0.7770010131712259
8 0.7749620060790273
9 0.7730098422347662
10 0.7750949848024316
11 0.7709228904327688
12 0.7688395570994355
13 0.7583342379504993
14 0.7708378564191635
15 0.7644992039368939
16 0.7792598422347663
17 0.7686676798378926
18 0.7791286727456941
19 0.7707953394123608
20 0.7770453394123608
21 0.7645435301780287
22 0.7707953394123608
23 0.7604193805181648
24 0.7708803734259662
25 0.7499122521348965
26 0.7604618975249673
27 0.7416196265740338
28 0.7498679258937618
29 0.7374529599073673
30 0.7417064698219714
31 0.7312029599073673
32 0.7395806194818353
33 0.7312898031553046
34 0.7354564698219713
35 0.7250823201621073
36 0.7312898031553046
37 0.7270788102475032
38 0.7270788102475032
39 0.7229121435808366
40 0.7270806194818353
41 0.7145770010131713
42 0.7166603343465046
43 0.712493667679838
44 0.7207419669995658
45 0.7145344840063685
46 0.722869626574034
47 0.7124511506730352
48 0.7165753003328992
49 0.7104103343465046

In [117]:
from sklearn.naive_bayes import MultinomialNB

scaler = preprocessing.MinMaxScaler()
all_features_minmax = scaler.fit_transform(all_features)

clf = MultinomialNB()
cv_scores = cross_val_score(clf, all_features_minmax, all_classes, cv=10)

cv_scores.mean()

0.701945831524099

In [118]:
C = 1.0
svc = svm.SVC(kernel='rbf', C=C)
cv_scores = cross_val_score(svc, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.8063486032710957

In [119]:
C = 1.0
svc = svm.SVC(kernel='sigmoid', C=C)
cv_scores = cross_val_score(svc, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.7709228904327688

In [120]:
C = 1.0
svc = svm.SVC(kernel='poly', C=C)
cv_scores = cross_val_score(svc, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.7876375018092343

In [121]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()
cv_scores = cross_val_score(clf, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.8041766174554927

In [160]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

def create_model():
    model = Sequential()
    #4 feature inputs going into an 6-unit layer (more does not seem to help - in fact you can go down to 4)
    model.add(Dense(12, input_dim=16, kernel_initializer='normal', activation='relu'))
    # "Deep learning" turns out to be unnecessary - this additional hidden layer doesn't help either.
    #model.add(Dense(4, kernel_initializer='normal', activation='relu'))
    # Output layer with a binary classification (benign or malignant)
    model.add(Dense(1, kernel_initializer='normal', activation='sigmoid'))
    # Compile model; adam seemed to work best
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [161]:
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

# Wrap our Keras model in an estimator compatible with scikit_learn
estimator = KerasClassifier(build_fn=create_model, epochs=100, verbose=0)
# Now we can use scikit_learn's cross_val_score to evaluate this model identically to the others
cv_scores = cross_val_score(estimator, all_features_scaled, all_classes, cv=10)
cv_scores.mean()

0.8020833253860473

# We are able to classify the model data upto 80%